<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>Añadir año - Don Bosco</title>

  <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery-ui.css') }}">
  <link rel="icon" type="image/png" href="{{ url_for('static', filename='imagenes/favicon.png') }}" sizes="32x32">

  <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/jquery-ui.min.js') }}"></script>

  <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/agregar.css') }}">

  <script type="text/javascript">

    $(document).ready(function() {

        $("#abrirModal").on('click', function() {
          if($("#inicial").val() != "" && $("#final").val() != "")
            if (validateForm()) $("#myModal").modal('show');
            $("#confir").text("¿Está seguro de agregar el año escolar "+ $("#inicial").val() + " - " + $("#final").val() + "?");
        
        $("#realSumbit").on('click', function(){
          $("#contact").submit();
        });

        });

    });
    
    function validateForm() {

      var inicio = document.getElementById("inicial").value;
      var final = document.getElementById("final").value;
      if ((inicio[0] == '2') && (inicio[1] == '0') && (final[0] == '2') && (final[1] == '0') && (final.length == 4) && (inicio.length == 4) && (final > inicio))
        return true;
      return false;

    }


  </script>


</head>
<body>
<!-- MODAL -->
<div id="myModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Confirmación</h4>
            </div>
            <div class="modal-body">
                <p id="confir"></p>
                <p class="text-warning"><small>Asegúrese al realizar esta acción.</small></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button type="button" id="realSumbit" class="btn btn-primary">Agregar</button>
            </div>
        </div>
    </div>
</div>
<!-- END MODAL -->


<div class="container">  
<center><img id="toplogo" align="top" src="{{ url_for('static', filename='imagenes/Logo_DonBosco.png') }}"></center>
  <form id="contact" action="\agregar" method="post">
    <h3>Añadir año escolar</h3>
    <h4>Formato: AAAA-AAAA | Ejemplo: 2016-2017</h4>
    <fieldset>
      <input placeholder="Año inicial" name="inicial" type="text" tabindex="1" id="inicial" required autofocus>
    </fieldset>
    <fieldset>
      <input placeholder="Año final" name="final" type="text" tabindex="3" id="final" required>
    </fieldset>
    <fieldset>
    <button type="button" id="abrirModal">Añadir</button>
    </fieldset><br>
    {% if error %}
    <b><p class="copyright">{{error}}</p></b>
    {% endif %}
    <b><p class="copyright">Escuela Técnica Popular Don Bosco © - 2017</p></b>
  </form>
</div>

  
</body>
</html>
