<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>Añadir sección - Don Bosco</title>

  <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery-ui.css') }}">
  <link rel="icon" type="image/png" href="{{ url_for('static', filename='imagenes/favicon.png') }}" sizes="32x32">

  <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/jquery-ui.min.js') }}"></script>

  <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/modal.js') }}"></script>

  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/agregar_seccion.css') }}">

</head>
<body>

  <!-- Incluir el archivo del navbar -->
  {% include "navbar.html" %} 

  <div class="container">  
      <center><img id="toplogo" align="top" src="{{ url_for('static', filename='imagenes/Logo_DonBosco.png') }}"></center>
      <br><br>
        <form class="formulario_sec" action="/agregar_seccion" method="post">
          <br>
          <h1>Añadir sección</h1>
          
          <fieldset>
            <legend><span class="number">1</span>Escoja el año y el curso que desee:</legend>
          </fieldset>
          <fieldset>
          <label>Año:</label>
          <select id="ano">
              <option value="4to">4to</option>
              <option value="5to">5to</option>
              <option value="6to">6to</option>
          </select>
          </fieldset>
          <fieldset>
          <label>Curso:</label>
          <select id="curso">
              <option value="TecnologiaGrafica">Tecnología Gráfica</option>
              <option value="Contabilidad">Contabilidad</option>
              <option value="Mecanica">Mecánica</option>
              <option value="Electronica">Electrónica</option>
          </select>
          </fieldset>
          <input type="text" id="id_carrera" hidden name="id_carrera">
          <button id="agregar" onclick="getIDCarrera()">Añadir</button>
        </form>
  </div>

  
</body>
</html>
