<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>Añadir sección - Don Bosco</title>

  <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery-ui.css') }}">
  <link rel="icon" type="image/png" href="{{ url_for('static', filename='imagenes/favicon.png') }}" sizes="32x32">

  <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/jquery-ui.min.js') }}"></script>

  <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/modal.js') }}"></script>

  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/agregar_seccion.css') }}">



</head>
<body>
<!-- MODAL -->
<div id="myModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Confirmación</h4>
            </div>
            <div class="modal-body">
                <p id="confir"></p>
                <p class="text-warning"><small>Asegúrese al realizar esta acción.</small></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button type="button" id="realSumbit" class="btn btn-primary">Agregar</button>
            </div>
        </div>
    </div>
</div>
<!-- END MODAL -->


<div class="container">  
<center><img id="toplogo" align="top" src="{{ url_for('static', filename='imagenes/Logo_DonBosco.png') }}"></center>
<br><br>
<form action="/agregar_seccion" method="post">
        <br>
        <h1>Añadir sección</h1>
        
        <fieldset>
          <legend><span class="number">1</span>Escoja el año y el curso que desee:</legend>
        </fieldset>
        <fieldset>
        <label>Año:</label>
        <select name="ano">
            <option value="cuarto">4to</option>
            <option value="quinto">5to</option>
            <option value="sexto">6to</option>
        </select>
        </fieldset>
        <fieldset>
        <label>Curso:</label>
        <select name="curso">
            <option value="tec_grafica">Tecnología Gráfica</option>
            <option value="contabilidad">Contabilidad</option>
            <option value="mecanica">Mecánica</option>
            <option value="electronica">Electrónica</option>
        </select>
        </fieldset>
        <button type="submit">Añadir</button>
      </form>
</div>

  
</body>
</html>
