<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>Configuración - Escuela Técnica Popular Don Bosco</title>
  
  <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery-ui.css') }}">
  <link rel="icon" type="image/png" href="{{ url_for('static', filename='imagenes/favicon.png') }}" sizes="32x32">


  <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/config.js') }}"></script>


  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

  <!-- <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet"> -->

  
</head><br>
<body>
{% if (sucess) %}
<script type="text/javascript">
  $(document).ready(function() 
    {
      $("#success-alert").fadeTo(2000, 500).slideUp(500, function(){
        $("#success-alert").slideUp(500);
      });
  });
</script>
{% endif %}

<center><img id="toplogo" src="{{ url_for('static', filename='imagenes/Logo_DonBosco.png') }}"></center><br>
{% if (sucess) %}
  <div class="alert alert-success" id="success-alert">
    <strong>Éxito!</strong> {{sucess}}
  </div>
{% endif %}

  <div id="wrapper">

      <div id="container">

          <a id="button" href="/seleccion"><span class="glyphicon glyphicon-circle-arrow-left"></span></a>

      </div>

  </div>

<center>
  <form id="formLoad" enctype="multipart/form-data" method="POST" action="/cargarBD">
    <input type="file" id="filename" name="archivo" style="display:none;">
  </form>
  <div class="btn gridcontainer clearfix">
  <div class="row">
  <div class="col-md-4" id="prueba">
      <div class="grid_3">
        <div class="fmcircle_out">
          <a href="/exportarBD">
            <div class="fmcircle_border">
              <div class="fmcircle_in fmcircle_blue">
                <span style="margin-left:6px;">Exportar BD</span><img src="{{ url_for('static', filename='imagenes/exportar.png') }}" alt="" />
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="grid_3">
        <div class="fmcircle_out">
          <a href="#" onclick="openFile()">
            <div class="fmcircle_border">
              <div class="fmcircle_in fmcircle_green">
                <span style="margin-left:6px;">Cargar BD</span><img src="{{ url_for('static', filename='imagenes/cargar.ico') }}" alt="" />
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>

  <div class="col-md-4">
    <div class="grid_3">
      <div class="fmcircle_out">
        <a href="/cerrar_sesion">
          <div class="fmcircle_border">
            <div class="fmcircle_in fmcircle_red">
              <span style="margin-left:6px;">Cerrar sesión</span><img src="{{ url_for('static', filename='imagenes/cerrar.png') }}" alt="" />
            </div>
          </div>
        </a>
      </div>
    </div>
    </div>

    </div>
</center>
<br><br>

<center style="margin: 0 auto; padding-top: 80px; width: 94%">
    <b><p>Escuela Técnica Popular Don Bosco © - 2017</p></b>
</center>
<!-- <div id="error"><img src="https://dl.dropboxusercontent.com/u/23299152/Delete-icon.png" /> Your caps-lock is on.</div> -->  
</body>
</html>
