<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="viewport" content="height=device-height,initial-scale=1">
  <title>Eliminar - Escuela Técnica Popular Don Bosco</title>
  

  <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery-ui.css') }}">
  <link rel="icon" type="image/png" href="{{ url_for('static', filename='imagenes/favicon.png') }}" sizes="32x32">

  <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/jquery-ui.min.js') }}"></script>

  <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/modal.js') }}"></script>

  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style_eliminar.css') }}">



  
</head>

<body>
<!-- MODAL -->
<div id="myModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Confirmación de eliminación</h4>
            </div>
            <div class="modal-body">
                <p id="confir"></p>
                <p class="text-warning"><small>Asegúrese al realizar esta acción.</small></p>
                <p class="text-warning"><small>Recuerde que puede recuperar el año escolar en el botón de "Recuperar".</small></p>
            </div>
            <div class="modal-footer">
                  <form id="contact" style="float: right;" method="post" action="/eliminar_ano">
                    <input id="id_ano" name="real_id" hidden>
                    <input id="ano_real" name="ano_escolar" hidden>
                    <button type="button" class="btn btn-default" data-dismiss="modal" >Cancelar</button>
                    <button type="submit" id="realSumbit2" class="btn btn-danger">Eliminar</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- END MODAL -->

    <div id="wrapper">

        <div id="container">

            <a id="button" href="/seleccion"><span class="glyphicon glyphicon-circle-arrow-left"></span></a>

        </div>

    </div>
<br><br>
{% if datos %}
<center><h1 style="color:white;">Por favor, escoja el año escolar que desea eliminar:</h1></center><br>
  {% for ano in datos %}
      <figure class="snip1566">
        <img src="{{ url_for('static', filename='imagenes/Logo_DonBosco.png') }}" alt="sq-sample14" />
        <figcaption><h2 id="label_ano" class="headertext">{{ano[1]}}</h2></figcaption>
        <a onclick="openModal({{ano[0]}})" href="#"></a>
      </figure>
    
  {% endfor %}
{% else %}
<center><h1 style="color:white;">Actualmente no tiene ningun año escolar</h1></center><br>
{% endif %}

<br><br>
  <div class="footer">
  <form method="get" action="/recuperar">
    <button hretype="button" id="realSumbit2" class="btn btn-info">Recuperar año escolar</button>
  </form>  
  </div>

</body>

</html>
