<!DOCTYPE html>
<html >
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <title>Personal - Don Bosco</title>

        <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery-ui.css') }}">
        <link rel="icon" type="image/png" href="{{ url_for('static', filename='imagenes/favicon.png') }}" sizes="32x32">

        <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/jquery-ui.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/jquery.dataTables.min.js') }}"></script>
        

        <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
        <!-- <script src="{{ url_for('static', filename='js/estudiantes.js') }}"></script> -->
        <script src="{{ url_for('static', filename='js/personal.js') }}"></script>

        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/agregar.css') }}">
    
    </head>

    <body>

        <!-- {% if (updateado) %}
            <input type="hidden" id="updateado" value="{{updateado}}" >
            <div id="dialog-message" title="Actualización Exitosa!">
                <p>
                    <span class="ui-icon ui-icon-circle-check" style="float:left; margin:0 7px 50px 0;"></span>
                    La persona se ha editado de forma exitosa.
                </p>
            </div>
        {% endif %} -->

        <!-- MODAL PERSONAL -->
        <div id="modal_per" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">¿Está seguro que desea eliminar a esta persona?</h4>
                    </div>
                    <div class="modal-body">
                        <h5>Cédula de la persona a eliminar: <b id="texto_per"></b></h5>
                        <p>Por favor, escriba textualmente "Deseo eliminar a esta persona":</p>
                        <center><input type="text" style="width:100%" id="confirmacion_real_per"></center><br>
                        <p class="text-warning"><small>Este cambio es <b>irrecuperable.</b></small></p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                        <button type="button" id="realSumbit" class="btn btn-danger" disabled>Eliminar</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- END MODAL -->

        <!-- MODAL DETALLE PERSONAL -->
        <div id="modal_detalle_per" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Editar Persona</h4>
                    </div>

                    <div class="modal-body">

                        <form role="form" action="/editarPersonal" id="modalUpdate" method="POST">
                            <input type="text" id="real_tipo" hidden name="id_tipo"/>
                            <div class="col-md-6 form-group">                                   

                                <label>Apellidos:</label>
                                <input class="form-control" name="apellidos" id="apellidos" type="text" autocomplete="off" value="" /><br>

                                <label>Cédula:</label>
                                <input class="form-control" name="cedula" id="cedula" type="text" autocomplete="off" pattern="[0-9]{6,}" title="Ingrese sólo números" value=""/> 

                                <input name="hiddenCedula" id="hiddenCedula" type="hidden" value=""/> 

                            </div>

                            <div class="col-md-6">                                   
                                <label>Nombres:</label>
                                <input class="form-control" name="nombres" id="nombres" type="text" autocomplete="off" value=""/><br>

                                <label>Teléfono Casa:</label>
                                <input class="form-control" name="telefono" id="telefono" type="text" autocomplete="off" value="" pattern="[0-9]{11}" title="Ingrese sólo números" placeholder="02120000000"/><br>  

            
                            </div>

      
                            <div class="col-md-6">                                   
                                <label>E-Mail:</label>
                                <input class="form-control" name="correo" id="correo" type="email" autocomplete="off" value="" placeholder="personal@correo.com" /></br>
                                    
                                
                                <label>Inasistencias:</label>
                                <input class="form-control" type="number"  min="0" max="356" id="inasistencia" autocomplete="off" name="inasistencia"/><br>   

                            </div>    

                            <div class="col-md-6 form-group">                                   
                                <label>Tipo:</label>
                                <select class="form-control" name="tipo" id="tipo" autocomplete="off"/>
                                    <option>Docente</option>
                                    <option>Administrativo</option>
                                    <option>Obrero</option>
                                </select><br>   
                                
                                <label>Dirección:</label>
                                <textarea style="resize: vertical;" class="form-control" name="direccion" id="direccion" autocomplete="off"/></textarea><br>

                            </div>
                       
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                            <button onclick="updateSubmit()" class="btn btn-primary">Aceptar</button>
                        </div>

                     </form>
                </div>
            </div>
        </div>
        <!-- END MODAL -->

        <!-- Incluir el archivo del navbar -->
        {% include "navbar2.html" %} 
        
        <div id="spaces" hidden>
            <br><br><br><br>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-2">
                    <br>
                        <h4 style="text-align: center; color:white;">Tipo</h4>
                        <div class="btn-group btn-group-vertical" style="width: 100%;">                         
                            <button id="docente" onclick="cambioCargo('Docente')" class="btn btn-default active" type="button">Docente</button> 
                            <button id="admin" onclick="cambioCargo('Administrativo')" class="btn btn-default" type="button">Administrativo</button> 
                            <button id="obrero" onclick="cambioCargo('Obrero')" class="btn btn-default" type="button">Obrero</button>
                        </div>
                </div>

                <div class="col-md-10"> 
                    <h3 style="color:white;">Personal</h3>               
                    <div id="vertical" style="width: 100%">  
                    <div id="ano_select">
                        <div>
                            <div id="ano_select" style="overflow-x: scroll;">
                                <table id="ano_select-table" class="table">
                                    <thead>
                                        <tr class="success">
                                            <th>
                                                Cédula
                                            </th>
                                            <th>
                                                Nombre
                                            </th>
                                            <th>
                                                Apellido
                                            </th>
                                            <th>
                                                E-mail
                                            </th>
                                            <th>
                                                Inasistencias
                                            </th>
                                            <th></th>
                                            <th></th>
                                            </tr>
                                    </thead>
                                    <tbody id='body_select'>
                                        {% if datos %}
                                            {% for personal in datos %}
                                                <tr id='{{personal[0]}}' class="active"> 
                                                    <td class='cedulaPersonal editarPersonal ' onclick="mostrarDetallePersonal({{personal[0]}})">{{personal[0]}}</td>
                                                    <td class='editarPersonal' onclick="mostrarDetallePersonal({{personal[0]}})">{{personal[1]}}</td>
                                                    <td class='editarPersonal' onclick="mostrarDetallePersonal({{personal[0]}})">{{personal[2]}}</td>
                                                    <td class='editarPersonal' onclick="mostrarDetallePersonal({{personal[0]}})">{{personal[4]}}</td>
                                                    <td id="inasistencia{{personal[0]}}">{{personal[6]}}</td>
                                                    <td><button id="add{{personal[0]}}" class="btn btn-warning" onclick="agregarInasistencia(this.id)">Agregar inasistencia</button></td>
                                                    <td><button id='del{{personal[0]}}' class="btn btn-danger botonDltEst" onclick="mostrarModalEliminarPersonal(this.id)"><span class="glyphicon glyphicon-trash"></span></button></td>
                                                </tr>
                                            {% endfor %}
                                        {% endif %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                     </div>
                </div>
            </div>
        </div>
    </body>
</html>
