<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>Selección personal - Escuela Técnica Popular Don Bosco</title>
  
  <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery-ui.css') }}">
  <link rel="icon" type="image/png" href="{{ url_for('static', filename='imagenes/favicon.png') }}" sizes="32x32">

  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

  <!-- <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet"> -->

  
</head><br>
<body>
<div id="wrapper">

    <div id="container">

        <a id="button" href="/seleccion"><span class="glyphicon glyphicon-circle-arrow-left"></span></a>

    </div>

</div>

<center><img id="toplogo" src="{{ url_for('static', filename='imagenes/Logo_DonBosco.png') }}"></center><br>

<center>
  <div class="btn gridcontainer clearfix">
  <div class="row">
  <div class="col-md-6" id="prueba">
      <div class="grid_3">
        <div class="fmcircle_out">
          <a href="/estudiantes_ano">
            <div class="fmcircle_border">
              <div class="fmcircle_in fmcircle_blue">
                <span style="margin-left:6px;">Estudiante</span><img src="{{ url_for('static', filename='imagenes/student.png') }}" alt="" />
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="grid_3">
        <div class="fmcircle_out">
          <a href="/agregar">
            <div class="fmcircle_border">
              <div class="fmcircle_in fmcircle_green">
                <span style="margin-left:6px;">Administrativo</span><img src="{{ url_for('static', filename='imagenes/personal.png') }}" alt="" />
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>

    </div>
</center>
<br>
<center style="margin: 0 auto; padding-top: 80px; width: 94%">
    <b><p>Escuela Técnica Popular Don Bosco © - 2017</p></b>
</center>
<!-- <div id="error"><img src="https://dl.dropboxusercontent.com/u/23299152/Delete-icon.png" /> Your caps-lock is on.</div> -->  
</body>
</html>
